In [2]:
import pandas as pd
from collections import Counter
import re

def preprocess_text(text):
    text = text.lower()  
    text = re.sub(r'[^\w\s]', '', text)  
    words = text.split() 
    return words

def get_word_frequencies(text):
    words = preprocess_text(text)
    word_counts = Counter(words)
    return word_counts

In [4]:
df_gdp = pd.read_csv('GDP by Country - Sheet1.csv')  
df_population = pd.read_csv('Population by Country - Sheet1.csv')

In [5]:
df_gdp.info

<bound method DataFrame.info of        #              Country GDP\n(nominal, 2022)    GDP\n(abbrev.)  \
0      1        United States  $25,462,700,000,000  $25.463 trillion
1      2                China  $17,963,200,000,000  $17.963 trillion
2      3                Japan   $4,231,140,000,000   $4.231 trillion
3      4              Germany   $4,072,190,000,000   $4.072 trillion
4      5                India   $3,385,090,000,000   $3.385 trillion
..   ...                  ...                  ...               ...
172  173  Sao Tome & Principe         $546,680,342      $547 million
173  174           Micronesia         $427,094,119      $427 million
174  175     Marshall Islands         $279,667,900      $280 million
175  176             Kiribati         $223,352,943      $223 million
176  177               Tuvalu          $60,349,391       $60 million

    GDP\ngrowth Population\n(2022) GDP\nper capita Share of\nWorld GDP
0         2.06%        341,534,046         $74,554              25.32%
1         2.99%      1,425,179,569         $12,604              17.86%
2         1.03%        124,997,578         $33,850               4.21%
3         1.79%         84,086,227         $48,429               4.05%
4         7.00%      1,425,423,212          $2,375               3.37%
..          ...                ...             ...                 ...
172       0.93%            226,305          $2,416               0.00%
173      -0.62%            523,477            $816               0.00%
174       1.50%             40,077          $6,978               0.00%
175       1.56%            130,469          $1,712               0.00%
176       0.68%              9,992          $6,040               0.00%

[177 rows x 8 columns]>

In [6]:
df_population.info

<bound method DataFrame.info of        # Country (or dependency) Population\n(2024) Yearly\nChange  \
0      1                   India      1,450,935,791         0.89 %
1      2                   China      1,419,321,278        -0.23 %
2      3           United States        345,426,571         0.57 %
3      4               Indonesia        283,487,931         0.82 %
4      5                Pakistan        251,269,164         1.52 %
..   ...                     ...                ...            ...
229  230              Montserrat              4,389        -0.70 %
230  231        Falkland Islands              3,470        -0.20 %
231  232                 Tokelau              2,506         4.55 %
232  233                    Niue              1,819         0.11 %
233  234                Holy See                496         0.00 %

    Net\nChange Density\n(P/Km²) Land Area\n(Km²) Migrants\n(net)  \
0    12,866,195              488        2,973,190        -630,830
1    -3,263,655              151        9,388,211        -318,992
2     1,949,236               38        9,147,420       1,286,132
3     2,297,864              156        1,811,570         -38,469
4     3,764,669              326          770,880      -1,401,173
..          ...              ...              ...             ...
229         -31               44              100              -7
230          -7                0           12,170             -13
231         109              251               10              72
232           2                7              260              10
233           0            1,240                0              18

     Fert.\nRate  Med.\nAge Urban\nPop % World\nShare
0            2.0         28         37 %      17.78 %
1            1.0         40         66 %      17.39 %
2            1.6         38         82 %       4.23 %
3            2.1         30         59 %       3.47 %
4            3.5         20         34 %       3.08 %
..           ...        ...          ...          ...
229          1.4         42         11 %       0.00 %
230          1.7         42         68 %       0.00 %
231          2.6         27          0 %       0.00 %
232          2.5         36         44 %       0.00 %
233          1.0         59         N.A.       0.00 %

[234 rows x 12 columns]>

In [12]:
df_gdp.columns

Index(['#', 'Country', 'GDP\n(nominal, 2022)', 'GDP\n(abbrev.)', 'GDP\ngrowth',
       'Population\n(2022)', 'GDP\nper capita', 'Share of\nWorld GDP'],
      dtype='object')

In [13]:
df_population.columns

Index(['#', 'Country (or dependency)', 'Population\n(2024)', 'Yearly\nChange',
       'Net\nChange', 'Density\n(P/Km²)', 'Land Area\n(Km²)',
       'Migrants\n(net)', 'Fert.\nRate', 'Med.\nAge', 'Urban\nPop %',
       'World\nShare'],
      dtype='object')

In [14]:
df_population.rename(columns={'Country (or dependency)': 'Country'}, inplace=True)

In [15]:
df_population.columns

Index(['#', 'Country', 'Population\n(2024)', 'Yearly\nChange', 'Net\nChange',
       'Density\n(P/Km²)', 'Land Area\n(Km²)', 'Migrants\n(net)',
       'Fert.\nRate', 'Med.\nAge', 'Urban\nPop %', 'World\nShare'],
      dtype='object')

In [16]:
unique_gdp_countries_count = df_gdp['Country'].nunique()
print(f'Number of unique countries in df_gdp: {unique_gdp_countries_count}')

Number of unique countries in df_gdp: 177

In [17]:
unique_population_countries_count = df_population['Country'].nunique()
print(f'Number of unique countries in df_population: {unique_population_countries_count}')

Number of unique countries in df_population: 234

In [18]:
merged_df = pd.merge(df_gdp, df_population, on='Country', how='inner')

In [19]:
print(merged_df.head())

   #_x        Country GDP\n(nominal, 2022)    GDP\n(abbrev.) GDP\ngrowth  \
0    1  United States  $25,462,700,000,000  $25.463 trillion       2.06%
1    2          China  $17,963,200,000,000  $17.963 trillion       2.99%
2    3          Japan   $4,231,140,000,000   $4.231 trillion       1.03%
3    4        Germany   $4,072,190,000,000   $4.072 trillion       1.79%
4    5          India   $3,385,090,000,000   $3.385 trillion       7.00%

  Population\n(2022) GDP\nper capita Share of\nWorld GDP  #_y  \
0        341,534,046         $74,554              25.32%    3
1      1,425,179,569         $12,604              17.86%    2
2        124,997,578         $33,850               4.21%   12
3         84,086,227         $48,429               4.05%   19
4      1,425,423,212          $2,375               3.37%    1

  Population\n(2024) Yearly\nChange Net\nChange Density\n(P/Km²)  \
0        345,426,571         0.57 %   1,949,236               38
1      1,419,321,278        -0.23 %  -3,263,655              151
2        123,753,041        -0.50 %    -617,906              339
3         84,552,242         0.00 %       4,011              243
4      1,450,935,791         0.89 %  12,866,195              488

  Land Area\n(Km²) Migrants\n(net)  Fert.\nRate  Med.\nAge Urban\nPop %  \
0        9,147,420       1,286,132          1.6         38         82 %
1        9,388,211        -318,992          1.0         40         66 %
2          364,555         153,357          1.2         49         93 %
3          348,560          36,954          1.4         45         76 %
4        2,973,190        -630,830          2.0         28         37 %

  World\nShare
0       4.23 %
1      17.39 %
2       1.52 %
3       1.04 %
4      17.78 %

In [20]:
merged_df.to_csv('gpd_population_merged.csv', index=False)

In [21]:
df_csv = pd.read_csv("gpd_population_merged.csv")
df_csv

,#_x,Country,"GDP\n(nominal, 2022)",GDP\n(abbrev.),GDP\ngrowth,Population\n(2022),GDP\nper capita,Share of\nWorld GDP,#_y,Population\n(2024),Yearly\nChange,Net\nChange,Density\n(P/Km²),Land Area\n(Km²),Migrants\n(net),Fert.\nRate,Med.\nAge,Urban\nPop %,World\nShare
0,1,United States,"$25,462,700,000,000",$25.463 trillion,2.06%,"341,534,046","$74,554",25.32%,3,"345,426,571",0.57 %,"1,949,236",38,"9,147,420","1,286,132",1.6,38,82 %,4.23 %
1,2,China,"$17,963,200,000,000",$17.963 trillion,2.99%,"1,425,179,569","$12,604",17.86%,2,"1,419,321,278",-0.23 %,"-3,263,655",151,"9,388,211","-318,992",1.0,40,66 %,17.39 %
2,3,Japan,"$4,231,140,000,000",$4.231 trillion,1.03%,"124,997,578","$33,850",4.21%,12,"123,753,041",-0.50 %,"-617,906",339,"364,555","153,357",1.2,49,93 %,1.52 %
3,4,Germany,"$4,072,190,000,000",$4.072 trillion,1.79%,"84,086,227","$48,429",4.05%,19,"84,552,242",0.00 %,"4,011",243,"348,560","36,954",1.4,45,76 %,1.04 %
4,5,India,"$3,385,090,000,000",$3.385 trillion,7.00%,"1,425,423,212","$2,375",3.37%,1,"1,450,935,791",0.89 %,"12,866,195",488,"2,973,190","-630,830",2.0,28,37 %,17.78 %
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,173,Sao Tome & Principe,"$546,680,342",$547 million,0.93%,"226,305","$2,416",0.00%,188,"235,536",2.02 %,"4,665",245,960,-604,3.6,19,78 %,0.00 %
173,174,Micronesia,"$427,094,119",$427 million,-0.62%,"523,477",$816,0.00%,174,"526,923",0.32 %,"1,683",753,700,"-5,076",2.8,26,75 %,0.01 %
174,175,Marshall Islands,"$279,667,900",$280 million,1.50%,"40,077","$6,978",0.00%,217,"37,548",-3.29 %,"-1,279",209,180,"-1,765",2.9,21,N.A.,0.00 %
175,176,Kiribati,"$223,352,943",$223 million,1.56%,"130,469","$1,712",0.00%,193,"134,518",1.50 %,"1,988",166,810,-471,3.1,23,57 %,0.00 %
176,177,Tuvalu,"$60,349,391",$60 million,0.68%,"9,992","$6,040",0.00%,227,"9,646",-1.73 %,-170,322,30,-280,3.2,24,83 %,0.00 %

In [22]:
df_csv.head(25)

,#_x,Country,"GDP\n(nominal, 2022)",GDP\n(abbrev.),GDP\ngrowth,Population\n(2022),GDP\nper capita,Share of\nWorld GDP,#_y,Population\n(2024),Yearly\nChange,Net\nChange,Density\n(P/Km²),Land Area\n(Km²),Migrants\n(net),Fert.\nRate,Med.\nAge,Urban\nPop %,World\nShare
0,1,United States,"$25,462,700,000,000",$25.463 trillion,2.06%,"341,534,046","$74,554",25.32%,3,"345,426,571",0.57 %,"1,949,236",38,"9,147,420","1,286,132",1.6,38,82 %,4.23 %
1,2,China,"$17,963,200,000,000",$17.963 trillion,2.99%,"1,425,179,569","$12,604",17.86%,2,"1,419,321,278",-0.23 %,"-3,263,655",151,"9,388,211","-318,992",1.0,40,66 %,17.39 %
2,3,Japan,"$4,231,140,000,000",$4.231 trillion,1.03%,"124,997,578","$33,850",4.21%,12,"123,753,041",-0.50 %,"-617,906",339,"364,555","153,357",1.2,49,93 %,1.52 %
3,4,Germany,"$4,072,190,000,000",$4.072 trillion,1.79%,"84,086,227","$48,429",4.05%,19,"84,552,242",0.00 %,"4,011",243,"348,560","36,954",1.4,45,76 %,1.04 %
4,5,India,"$3,385,090,000,000",$3.385 trillion,7.00%,"1,425,423,212","$2,375",3.37%,1,"1,450,935,791",0.89 %,"12,866,195",488,"2,973,190","-630,830",2.0,28,37 %,17.78 %
5,6,United Kingdom,"$3,070,670,000,000",$3.071 trillion,4.10%,"68,179,315","$45,038",3.05%,21,"69,138,192",0.66 %,"455,230",286,"241,930","417,114",1.6,40,84 %,0.85 %
6,7,France,"$2,782,910,000,000",$2.783 trillion,2.56%,"66,277,409","$41,989",2.77%,23,"66,548,530",0.17 %,"109,708",122,"547,557","90,527",1.6,42,82 %,0.82 %
7,8,Russia,"$2,240,420,000,000",$2.240 trillion,-2.07%,"145,579,899","$15,390",2.23%,9,"144,820,423",-0.43 %,"-620,077",9,"16,376,870","-178,042",1.5,40,75 %,1.77 %
8,9,Canada,"$2,139,840,000,000",$2.140 trillion,3.40%,"38,821,259","$55,120",2.13%,38,"39,742,430",1.13 %,"443,325",4,"9,093,510","368,599",1.3,40,80 %,0.49 %
9,10,Italy,"$2,010,430,000,000",$2.010 trillion,3.67%,"59,619,115","$33,721",2.00%,25,"59,342,867",-0.26 %,"-156,586",202,"294,140","95,246",1.2,48,72 %,0.73 %
10,11,Brazil,"$1,920,100,000,000",$1.920 trillion,2.90%,"210,306,415","$9,130",1.91%,7,"211,998,573",0.41 %,"857,844",25,"8,358,140","-225,510",1.6,34,91 %,2.60 %
11,12,Australia,"$1,675,420,000,000",$1.675 trillion,3.62%,"26,200,984","$63,945",1.67%,55,"26,713,205",0.99 %,"262,081",3,"7,682,300","138,510",1.6,38,86 %,0.33 %
12,13,South Korea,"$1,665,250,000,000",$1.665 trillion,2.56%,"51,782,512","$32,159",1.66%,29,"51,717,590",-0.06 %,"-31,149",532,"97,230","75,963",0.7,45,82 %,0.63 %
13,14,Mexico,"$1,414,190,000,000",$1.414 trillion,3.06%,"128,613,117","$10,996",1.41%,11,"130,861,007",0.86 %,"1,121,248",67,"1,943,950","-104,581",1.9,29,87 %,1.60 %
14,15,Spain,"$1,397,510,000,000",$1.398 trillion,5.45%,"47,828,382","$29,219",1.39%,32,"47,910,526",0.00 %,"-1,053",96,"498,800","111,674",1.2,45,79 %,0.59 %
15,16,Indonesia,"$1,319,100,000,000",$1.319 trillion,5.31%,"278,830,529","$4,731",1.31%,4,"283,487,931",0.82 %,"2,297,864",156,"1,811,570","-38,469",2.1,30,59 %,3.47 %
16,17,Saudi Arabia,"$1,108,150,000,000",$1.108 trillion,8.74%,"32,175,352","$34,441",1.10%,48,"33,962,757",2.10 %,"698,465",16,"2,149,690","122,170",2.3,30,92 %,0.42 %
17,18,Netherlands,"$991,115,000,000",$991 billion,4.48%,"17,904,421","$55,356",0.99%,71,"18,228,742",0.75 %,"136,218",541,"33,720","121,628",1.4,41,89 %,0.22 %
18,19,Turkey,"$905,988,000,000",$906 billion,5.57%,"87,058,473","$10,407",0.90%,18,"87,473,805",0.23 %,"203,304",114,"769,630","-275,952",1.6,33,76 %,1.07 %
19,20,Switzerland,"$807,706,000,000",$808 billion,2.06%,"8,792,182","$91,866",0.80%,101,"8,921,981",0.58 %,"51,420",226,"39,516","40,099",1.4,43,74 %,0.11 %
20,21,Poland,"$688,177,000,000",$688 billion,4.87%,"38,385,739","$17,928",0.68%,39,"38,539,201",-0.58 %,"-223,643",126,"306,230","-238,062",1.3,42,59 %,0.47 %
21,22,Argentina,"$632,770,000,000",$633 billion,5.24%,"45,407,904","$13,935",0.63%,35,"45,696,159",0.35 %,"157,758",17,"2,736,690","3,454",1.5,33,95 %,0.56 %
22,23,Sweden,"$585,939,000,000",$586 billion,2.64%,"10,487,338","$55,871",0.58%,90,"10,606,999",0.53 %,"55,505",26,"410,340","50,115",1.4,40,87 %,0.13 %
23,24,Norway,"$579,267,000,000",$579 billion,3.28%,"5,456,801","$106,155",0.58%,119,"5,576,660",1.04 %,"57,493",15,"365,268","44,356",1.4,40,86 %,0.07 %
24,25,Belgium,"$578,604,000,000",$579 billion,3.25%,"11,641,820","$49,700",0.58%,83,"11,738,763",0.22 %,"25,870",388,"30,280","36,243",1.4,42,99 %,0.14 %

In [23]:
df_csv.columns

Index(['#_x', 'Country', 'GDP\n(nominal, 2022)', 'GDP\n(abbrev.)',
       'GDP\ngrowth', 'Population\n(2022)', 'GDP\nper capita',
       'Share of\nWorld GDP', '#_y', 'Population\n(2024)', 'Yearly\nChange',
       'Net\nChange', 'Density\n(P/Km²)', 'Land Area\n(Km²)',
       'Migrants\n(net)', 'Fert.\nRate', 'Med.\nAge', 'Urban\nPop %',
       'World\nShare'],
      dtype='object')